main {
    border: 2px solid green;
    height: 500px;
}
.flex-container {
    border: 2px dashed purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    direction: row;
    width: 500px;
    
}
div > div {
    margin: 20px;
    background-color: pink;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
    padding: 30px;
}